nav > * {
  font-family: Verdana;
  font-size: 1.5rem;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
}
.disabled {
  text-align: red;
}

/* #basic-navbar-nav {
  margin-left: 10rem;
  margin-left: auto;
  margin-right: auto;
} */

.navbar-nav > .nav-link {
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-color) !important;
}

.navbar-nav > .nav-link:hover {
  text-decoration: underline;
}
/* .navbar {
  width: 100%;
  background-color: lightslategray;
  z-index: 9;
} */

.Navbar-brand {
  max-height: 300px;
}
